.password-strength span {
  min-width: 60px;
  height: 4px;
  border-radius: 4px;
  background-color: #e5e7eb;
}

.password-strength .very-week {
  color: #ef4444;
}

.password-strength .weak {
  color: #f8b717;
}

.password-strength .good {
  color: #166534;
}

.password-strength .strong {
  color: #166534;
}

.password-strength .very-week span:first-child {
  background-color: #ef4444;
}

.password-strength .weak span:first-child,
.password-strength .weak span:nth-child(2) {
  background-color: #f8b717;
}

.password-strength .good span:first-child,
.password-strength .good span:nth-child(2),
.password-strength .good span:nth-child(3) {
  background-color: #166534;
}

.password-strength .strong span {
  background-color: #166534;
}
