.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.switch input:checked + .slider {
  background-color: #1dc857;
}

/* .switch input:focus+.slider {
    box-shadow: 0 0 1px #1DC857;
} */

.switch input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 20px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch .label-text {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.switch input + .slider:after {
  content: 'Inactive';
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #595959;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.switch input:checked + .slider:after {
  content: 'Active';
  right: auto;
  left: 8px;
  color: #ffffff;
}

.default-checkbox {
  position: relative;
  text-align: center;
}

.default input[type='checkbox'] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.default input[type='checkbox'] + span {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #c4c4c4;
  position: relative;
  display: block;
  /* margin:0 auto; */
}

.default input[type='checkbox']:checked + span {
  background-color: #1a96fc;
  border: 2px solid #1a96fc;
}
.default input[type='checkbox']:checked + span[aria-selected='true'] {
  border-radius: 2px;
  border: 2px solid #d6d6d6;
  background: #d6d6d6;
  cursor: not-allowed;
}

.default input[type='checkbox']:checked + span:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M13.4891 4C13.3081 4 13.1346 4.06906 13.0066 4.192L5.69322 11.2179L2.76505 8.40447C2.63707 8.28153 2.4635 8.21246 2.28251 8.21246C2.10152 8.21246 1.92795 8.28153 1.79997 8.40447C1.67199 8.5274 1.6001 8.69414 1.6001 8.868C1.6001 9.04186 1.67199 9.20859 1.79997 9.33153L5.21068 12.6079C5.27401 12.6688 5.34922 12.7171 5.432 12.7501C5.51481 12.783 5.60357 12.8 5.69322 12.8C5.78286 12.8 5.87162 12.783 5.95443 12.7501C6.03721 12.7171 6.11249 12.6687 6.17583 12.6078L13.9717 5.11906C14.0996 4.99613 14.1715 4.82939 14.1715 4.65553C14.1715 4.48167 14.0996 4.31494 13.9717 4.192C13.8437 4.06906 13.6701 4 13.4891 4Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.cursor-not-allowed .default input[type='checkbox']:checked + span {
  border: #d6d6d6;
  background-color: #d6d6d6;
}
.cursor-not-allowed .default input[type='checkbox']:checked + span:before {
  background-color: #d6d6d6;
  border: #f3f3f3;
}
