.radio-input-field {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

/* Hide the browser's default radio button */
.radio-input-field input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

/* Create a custom radio button */
.radio-input-field .checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
}

.with-additional-info.radio-input-field .checkmark {
  top: 0%;
  transform: translateY(5px);
}

/* On mouse-over, add a grey background color */
.radio-input-field input:disabled ~ .checkmark {
  background-color: #e7e7e7;
}

/* When the radio button is checked, add a blue background */
.radio-input-field input:checked ~ .checkmark {
  background-color: #1a96fc;
  border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-input-field .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-input-field input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-input-field .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.radio-input-field:hover input:disabled ~ .checkmark:after {
  display: none;
}
